.button {
    padding: 8px 16px;
    border-radius: 5px;
    margin: 1rem 0;
    display: flex;
    text-decoration: none;
    justify-content: center;
    border: none;
    font-family: 'Apercu', sans-serif;

    &.primary {
        background-color: $primary;
        color: white;
        transition: .2s all ease-in;

        &:hover {
            background-color: white;
            color: $primary;
            transition: .2s all ease-in;
        }
    }
}

.form-input {
    border: none;
    border-radius: 5px;
    padding: .2rem .5rem;
}
