.button {
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Apercu', sans-serif;

    &.primary {
        background-color: $primary;
        color: white;
        transition: .2s all ease-in;
        border: 1px solid $primary;

        &:hover {
            background-color: $background;
            color: $primary;
            transition: .2s all ease-in;
        }
    }

    &.secondary {
        background-color: $secondary;
        color: white;
        transition: .2s all ease-in;
        border: 1px solid $secondary;

        &:hover {
            background-color: $background;
            color: $secondary;
            transition: .2s all ease-in;
        }
    }
}

.form-input {
    border: none;
    border-radius: 5px;
    padding: .2rem .5rem;
}
