// Base Color
$background: #e7e7e7;
$background-secondary: #c4c4c4;
$body: #000;
$grey: #828282;

$primary: #4A2984;
$secondary: #c614cc;
$pink: #f186b0;
$filler-blue: #4c57d3;

.bg-color-secondary {
    background-color: $background-secondary;
}

.primary-color {
    color: $primary ;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

//rules
a {
    text-decoration: none;
}

//Breakpoint
$breakpoints: (
    "small": 650px,
    "medium": 1020px,
    "large": 1200px,
) !default;

@mixin breakpoint($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
