.account {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 91%;

    .text-page {
        text-align: center;
    }

    .account-navigation {
        height: 100%;
        
        .sidebar-account {
            height: 100%;
            list-style-type: none;
            padding: 0;
            padding-right: 2rem;
            border-right: 1px solid rgba(0,0,0, 0.1);
    
            li {
                margin-bottom: 1.25rem;
                a {
                    font-size: 1.15rem;
                    font-family: 'Evogria';
                    text-transform: lowercase;
                    color: black;
                    transition: all .2s ease-in;
    
                    &:hover, &.active {
                        color: $primary;
                        transition: all .2s ease-in;
                    }
                }
            }
        }
    }

    .account-content {
        padding-left: 2rem;

        .account-name {
            font-size: 1.5rem;
        }

        .account-item {
            margin-bottom: .75rem;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .orders-content {
        padding-left: 2rem;

        @include breakpoint-down(small){
            padding-left: .75rem;
        }

        .order-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid $primary;
            }

            .order-header {
                margin-bottom: 1rem;
            }

            .order-products {
                .product-item:not(:last-child) {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgba(0,0,0, 0.1);
                }
            }
        }
    }

    

    @include breakpoint-down(small) {
        width: 100%;

        .account-navigation {
            height: auto !important;
            margin-bottom: 1rem;
            
            .sidebar-account {
                display: flex;
                justify-content: space-between;
                border-right: none;
                padding-right: 0;
                border-bottom: 1px solid rgba(0,0,0, 0.1);
                li {
                    margin: 1rem;
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        .account-content {
            padding: 1rem;
        }
    }

    .account-horoscope {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $primary;

        .name {
            font-family: 'Skylar Sans';
            margin-bottom: .5rem;
            font-size: 1.75rem;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .date, .city {
            font-family: 'Evogria';
            text-transform: uppercase;
        }
    }
}

