.account__wrapper {
    margin: 2rem 0;
}

.account__bread {
    display: flex;
    margin-bottom: 1rem;

    a {
        color: black;
        font-size: 14px;
        text-decoration: underline;

        &:first-child {
            margin-right: .4rem;
        }
    }

    span {
        font-size: 14px;
        font-weight: bold;
        margin-right: .4rem;
    }
}

.account__titlePage {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.account__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    h3 {
        font-weight: bold;
        font-size: 20px;

        @include breakpoint(large) {
            font-size: 24px;
        }
    }

    p {
        font-size: 14px;

        @include breakpoint(large) {
            font-size: 1rem;
        }
    }

    .btn-logout {
        background-color: #EE4848;
        color: white;
        font-weight: bold;
        border-radius: 32px;
        padding: 4px 12px;
        font-size: 14px;

        @include breakpoint(large) {
            font-size: 1rem;
            padding: .5rem 1rem;
        }
    }
}

.account__menu {
    display: grid;
    gap: 1rem;

    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
    }

    .account__menuItem {
        display: flex;
        background: $primaryGrad;
        color: white;
        font-weight: bold;
        padding: 12px;
        border-radius: 8px;
        line-height: 1.3;
        font-size: 1.25rem;

        @include breakpoint(large) {
            font-size: 1.5rem;
            padding: 1.25rem;
        }
    }
}

.account__editWrapper {
    width: 100%;
}

.account__editForm {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;

    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.order__content {
    display: grid;
    gap: 1.5rem;

    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .order__salesNo {
        span {
            font-weight: 400;
        }

        h5 {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .order__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;
    }

    .order__item {
        padding: 1rem .5rem;
        border: 1px solid #ABAAAA;
        border-radius: 1rem;
        margin: 0 !important;
    }

    .order__price {
        background-color: $darkGrey;
        color: $green;
        padding: 4px 8px;
        font-family: 'Apercu Mono';
        border-radius: 2rem;
        text-align: center;
        font-size: 16px;
        display: inline-flex;
        margin: auto;
    }

    .order__products {
        margin-top: 1rem;

        h4 {
            font-size: 1.25rem;
        }

        .order__productInfo {
            display: flex;
            margin-bottom: .5rem;

            .order__qty {
                padding-right: 1.5rem;
                font-weight: bold;
                position: relative;

                &::after {
                    width: 1px;
                    height: 60%;
                    right: .75rem;
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                    background-color: #ABAAAA;
                    content: '';
                }
            }
        }
    }

    .order__productItem {
        margin-bottom: 1rem;
    }

    .order__buttonWrapper {
        display: grid;
        gap: .75rem;

        @include breakpoint(large) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}