.table-overflow {
    overflow: auto;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.dashboard {
    padding-bottom: 3rem;
    .form-select {
        @include breakpoint(large){
            width: 30%;
        }
    }
    .charts {
        display: none;
        .chart {
            background: #F5F5F5;
            padding: 1rem;
            border-radius: 2rem;
        }
    }
}

.table-overflow::-webkit-scrollbar {
    height: 8px;
  }

  /* Track */
  .table-overflow::-webkit-scrollbar-track {
    background: white;
    width: 4px;
  }

  /* Handle */
  .table-overflow::-webkit-scrollbar-thumb {
    background: #888;
      border-radius: 20px;
      width: 3px;
  }

  /* Handle on hover */
  .table-overflow::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

