.table-overflow {
    overflow: auto;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width: 100% !important;
}

.dashboard {
    padding-bottom: 3rem;

    .form-select {
        @include breakpoint(large) {
            width: 30%;
        }
    }

    .charts {
        display: none;

        .chart {
            background: #f5f5f5;
            padding: 1rem;
            border-radius: 2rem;
        }
    }
}

.tab-article-desc {
    img {
        width: 100px;
        height: auto;
        object-fit: cover;
    }

    p {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

.table-overflow::-webkit-scrollbar {
    height: 8px;
}

/* Track */
.table-overflow::-webkit-scrollbar-track {
    background: white;
    width: 4px;
}

/* Handle */
.table-overflow::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    width: 3px;
}

/* Handle on hover */
.table-overflow::-webkit-scrollbar-thumb:hover {
    background: $body;
}

.loading {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 8px;
    border: 4px solid black;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 18px;
    left: 0;
    background-color: $body;
}

.nav-tabs {
    justify-content: center;
    margin-bottom: 1rem;
    border-bottom: none;

    .nav-link {
        margin: 0 .5rem;
        min-width: 150px;

        &:hover,
        &.active {
            background-color: $yellow;
            color: $body;
        }
    }
}

.additional-admin {
    .section {
        &:not(:last-child) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $body;
        }

        padding-left: 0;
        margin-left: 1rem;
    }


    .title {
        font-family: 'Rubik Mono One';
        font-size: 1.15rem;
        display: flex;
        flex-wrap: wrap;

        .item:not(:only-child) {
            margin-right: .5rem;

            &::after {
                content: '|';
            }
        }

        .item:last-child {
            margin-right: 0;

            &::after {
                content: '';
            }
        }
    }
}