.articles {
    // padding-top: 1.5rem;
    // padding-bottom: 1.5rem;

    // @include breakpoint(large) {
    //     padding-top: 2rem;
    //     padding-bottom: 2rem;
    // }
    .article {
        margin-bottom: 2rem;
        .article-info {
            @include breakpoint(large) {
                .col-7 {
                    padding-left: 1rem;
                }
            }
            .title {
                a h5{
                    font-weight: 600;
                    letter-spacing: 0.1rem;
                    color: $primary;
                }
            }
            .article-image {
                padding-right: 0;
                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }

            .title {
                margin-bottom: 0.5rem;
                font-family: "Skylar Sans";

                h5 {
                    font-size: 1.5rem;
                }
            }


        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    p {
        color: $grey;
        margin-right: 0.5rem;
        margin-bottom: .5rem;
        font-size: 14px;
        font-family: 'Evogria';

        &:hover {
            color: $primary;
        }
    }
}

.information {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $grey;

    .circle {
        content: "";
        width: 6px;
        height: 6px;
        background: $grey;
        border-radius: 50%;
        margin: 0 0.5rem;
    }
}
