.cart {
    .title-page {
        margin-bottom: 2rem;
    }

    .cart-none {
        width: 200px;
    }


    .products-header {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .2)
    }

    .product-price {
        font-family: "Apercu mono";
        font-size: 1.15rem;
    }

    .cart__items {
        margin-bottom: 2rem;

        @include breakpoint(large) {
            padding-right: 2rem;
        }
    }

    .cart__title {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
    }

    .cartItem__item {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;


        .cartItem__image {
            width: 100px;
            margin-right: 1rem;

            img {
                border-radius: 1rem;
            }
        }

        .cartItem__info {
            min-height: 100px;
        }

        .product-title h3 {
            font-size: 1rem !important;
            margin-bottom: .5rem;

            @include breakpoint(large) {
                font-size: 1.15rem !important;
            }
        }

        .cartItem__total {
            background-color: $green;
            color: $darkGrey;
            padding: .5rem 1rem;
            border-radius: 32px;
            font-size: 14px;
            font-family: 'Apercu Mono';
            display: inline-flex;

            @include breakpoint(large) {
                font-size: 1rem;
            }
        }

        .cartItem__remove {
            position: absolute;
            right: 0;
            top: -6px;

            i {
                color: rgb(221, 58, 58) !important;
            }
        }
    }

    .qty-spinner {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $body;
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid var(--background-secondary, #C4C4C4);

        .qty {
            width: 80px;
            display: flex;
            justify-content: center;
        }

        i {
            font-size: 12px;
        }

        @include breakpoint(large) {
            .qty {
                font-size: 1.25rem;
            }
        }
    }

    .qty-mobile {
        display: none;
    }

    @include breakpoint-down(small) {
        margin-right: 0;

        .product-title {
            h3 {
                font-size: 1.25rem;
            }
        }

        .product-item {
            padding-right: .5rem;
        }

        .qty-row {
            display: none;
        }

        .qty-mobile {
            display: block;
        }

        .product-total {
            h5 {
                font-size: 1rem;
            }
        }
    }

    .cart-summary {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.5rem;
        align-items: center;
        border-bottom: none;
        height: 100%;
        background-color: rgba($color: $body, $alpha: .1);
        border-radius: 10px;

        @include breakpoint-down(small) {
            width: 95%;
            margin: auto;
        }

        .total-price {
            .text {
                font-weight: bold;
            }

            .price {
                font-family: 'Apercu Mono';
            }
        }

    }
}