.contact-us {
    @include breakpoint(large) {
        .row {
            width: 80%;
            margin: auto;
        }
    }

    h2 {
        margin-bottom: 3rem;
    }

    .contact-form {
        padding-right: 3rem;
        padding-top: 30px;
    }

    .contact-info {
        background: linear-gradient(138deg, $yellow 0%, lighten($yellow, 20%) 100%);
        color: $body;
        padding: 30px;
        border-radius: 1rem;
        position: relative;
        padding-bottom: 15vw;

        h3,
        p,
        i {
            color: $body;
        }

        .contact-social {
            position: relative;
            z-index: 5;

            i {
                font-size: 1.5rem;
            }
        }

        .wave-contact {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 0;
        }
    }
}