.course__container {
    padding: 2rem 1rem;

    @include breakpoint(large) {
        padding: 2rem 0;
    }

    .course__wrapper {
        display: grid;
        gap: 1.5rem;

        @include breakpoint(large) {
            grid-template-columns: 1fr 0.75fr;
            gap: 2rem;
        }

        .course__image {
            img {
                width: 100%;
            }
        }

        .course__video {
            video {
                width: 100%;
            }
        }

        .course__bab {
            font-weight: bold;
        }

        .course__title {
            font-size: 24px;
            margin-bottom: 6px;
            font-weight: bold;
        }

        .course__time {
            margin-bottom: 6px;
        }

        .course__description {
            margin-bottom: 1.5rem;
            font-style: italic;
            text-align: justify;
        }

        .course__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}