* {
    min-height: 0;
    min-width: 0;
}

.index {
    @include breakpoint(large) {
        padding: 2rem 0;
    }

    .products {
        .product-item-container {
            margin-bottom: 2rem;

            .product-image {
                margin-bottom: 0.5rem;
                width: 100%;
            }

            .product-item {
                text-align: center;
                color: $primary;
                padding: 12px;
                border: 1px solid $background-secondary;
                border-radius: 5px;

                .product-title {
                    h3 {
                        font-size: 1.25rem;
                        margin-bottom: 6px;

                        @include breakpoint(medium) {
                            font-size: 1.5rem;
                        }
                    }
                }

                .product-price {
                    margin-bottom: 6px;
                }

                .product-desc {
                    font-size: 0.85rem;

                    @include breakpoint(large) {
                        min-height: 65px;
                    }
                }
            }
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.sliders {
    width: 100%;
    border-radius: 20px;
    // height: 25vh;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        // height: 500px;
        border-radius: 2rem;
    }
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 50vh;
}

.addcart {
    cursor: pointer;
}


.page-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;

    @include breakpoint-down(medium) {
        width: 100%;
    }

    .tab {
        background-color: $grey;
        color: white;
        width: 33%;
        margin: 0 10px;
        padding: 16px;
        text-align: center;
        border-radius: 10px;
        transition: .2s all ease-in;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 800;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover {
            background-color: lighten($primary, 10%);
            transition: .2s all ease-in;
        }

        &.active {
            background-color: lighten($primary, 10%);
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include breakpoint-down (small) {
        margin-top: 1rem;

        .tab {
            width: 100%;
            text-align: center;
            margin: 0 3px;
            padding: 8px 18px;

            h4 {
                font-size: 1rem;
            }
        }
    }
}

.page {
    display: none;

    &.active {
        display: flex;
    }
}

.products-title {
    align-items: center;
    font-family: 'Evogria';
    text-transform: uppercase;
    font-size: 2rem;

    img {
        margin-left: .75rem;
        width: 75px;
        height: auto;
    }

    @include breakpoint-down(medium) {
        font-size: 1.5rem;

        img {
            margin-left: .5rem;
            width: 55px;
        }
    }
}