.index {
    .products {
        .product-item-container {
            .product-image {
                margin-bottom: 0.5rem;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
            }

            .product-item {
                text-align: center;
                color: $primary;
                padding: 12px;
                border: 1px solid $background-secondary;
                border-radius: 5px;

                .product-title {
                    font-family: "Skylar Sans";
                    font-size: 1.5rem;
                }
                .product-price {
                    font-family: "Apercu mono";
                    margin-bottom: 6px;
                }
                .product-desc {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

.sliders {
    width: 100%;
    border-radius: 10px;
    // height: 25vh;

    img {
        width: 100%;
    }
}
