.index {
    padding: 2rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    display: none;

    &.mobile {
        display: grid;
    }

    .section-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 85vh;

        a {
            height: 100%;
            display: block;

            &.index-small {
                height: 40%;
            }

            &.index-v-small {
                height: 30%;
            }
        }
    }

    .index-section {
        color: black;
        padding: 1.5rem;
        border-radius: .5rem;
        display: flex;
        justify-content: space-between;
        min-height: 120px;
        position: relative;
        border-radius: 2.5rem;
        background-color: $yellow;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.index-article {
            min-height: 11vh;

            .bg {
                img {
                    object-fit: cover;
                }
            }
        }

        &.index-social {
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-height: auto;
            border-radius: 1rem;
            padding: 1rem;

            h3 {
                color: $yellow;
                font-size: 1.4rem;
                background-color: transparent;
            }
        }

        .bg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2.5rem;

            }
        }

        h3 {
            font-weight: bold;
            display: flex;
            align-items: center;
            text-decoration: underline;
            position: relative;
            font-size: 1.75rem;
            z-index: 10;
            display: inline;
            width: fit-content;
            border-radius: 1rem;
            padding: .25rem .5rem;
            margin-left: -.5rem;

        }
    }

    @include breakpoint(xlarge) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        display: grid;

        &.mobile {
            display: none;
        }

        .index-section {
            height: 17vh;

            &.top-section {
                height: 45vh;
            }

            h3 {
                font-size: 2rem;
            }
        }
    }
}

.account-nav {
    background: black;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .75rem 1rem;
        color: white;
        margin: auto;
    }

    .user-name {
        font-weight: bold;

        a {
            text-decoration: underline;
            font-style: italic;
            color: white;
        }
    }

    .cart-icon {
        @include breakpoint(large) {
            padding: 0;
        }

        padding: 0;
        position: relative;
        display: block;
        filter: brightness(0) invert(1);
    }

    .badge-count {
        position: absolute;
        top: 6px;
        right: 6px;
        color: $body;
        font-weight: bold;
        border-radius: 50%;
        background: $yellow;
        font-size: 10px;
        height: 16px;
        width: 16px;
        text-align: center;
    }
}

.page__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .page__titleImage {
        margin-right: .75rem;

        img {
            width: 51px;
            height: 51px;
        }
    }

    .page__titleText {
        font-size: 20px;
        font-weight: bold;
    }
}