.header-page {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
        margin-right: 1rem;
        width: 50px;
    }
}

.coming-soon {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5 {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}


.workshop-container {
    padding: 2rem .75rem;

    .workshop {
        .workshop-content {
            display: grid;
            gap: 1.5rem;

            @include breakpoint(large) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .workshop-media {
            margin-bottom: 1.5rem;

            img {
                width: 100%;
            }
        }

        .workshop-info {
            h1 {
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 6px;
            }

            h6 {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 6px;
            }

            p {
                font-style: italic;
            }
        }

        .buy-package {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $green;
            border-radius: 1.5rem;
            padding: 1rem 1.5rem;
            margin-bottom: 1.5rem;

            h5 {
                font-weight: bold;
                font-size: 1rem;
                font-size: 18px;
            }

            p {
                font-style: italic;
            }
        }

        .button-buy {
            background-color: white;
            border: black 1px solid;
            border-radius: 1rem;
            font-family: 'Apercu Mono';
            text-transform: uppercase;
            font-weight: lighter;
        }

        .list-bab {
            h4 {
                margin-bottom: 1rem;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .item-bab {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                p {
                    font-weight: bold;
                }

                .button-wrapper {
                    display: flex;
                    align-items: center;
                }

                .button-buy {
                    background-color: $green;
                    border: none;
                    border-radius: 3rem;
                    font-size: 14px;
                    padding: .5rem .75rem;
                }

                .button-cart {
                    color: $green;
                    background-color: $darkGrey;
                    border-radius: 50%;
                    height: 42px;
                    width: 42px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: .5rem;
                    padding: 0;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.workshop__wrapper {
    margin: 2rem 0;

    .workshop__titlePage {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 24px;
        text-align: center;
    }

    .workshop__lists {
        max-width: 880px;
        margin: auto;
        margin-right: -.75rem;

        @include breakpoint(large) {
            margin-right: auto;
        }

        .slick-next {
            right: 70px;

            @include breakpoint(large) {
                right: 41%;
            }

            &::before {
                display: none;
            }
        }

        .slick-prev {
            display: none !important;
        }

        .slick-list {
            padding: 0 20% 0 0 !important;

            @include breakpoint(large) {
                padding: 0 41% 0 0 !important;

            }
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .workshop__item {
            background: $primaryGrad;
            color: white;
            padding: 1rem;
            border-radius: 8px;
            scale: 0.8;
            opacity: 0.7;
            transform: translateX(-150px);
            min-height: 400px;
            z-index: -1;

            @include breakpoint(large) {
                min-height: 450px;
            }

            &.slick-active {
                opacity: 1;
                height: 100%;
                scale: 1;
                transform: translateX(0);
                z-index: 0;
            }

            .workshop__image {
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 200px;

                    @include breakpoint(large) {
                        height: 350px;

                    }
                }
            }

            .workshop__title {
                margin-bottom: 8px;
                font-size: 20px;
                font-weight: bold;
            }

            .workshop__desc {
                font-style: italic;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 1rem;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }

            .button-white {
                border-radius: 32px;
                padding: 6px 24px;
                background-color: white;
                color: black;
            }
        }
    }
}