@import "~bootstrap/scss/bootstrap";
@import 'base/variable';
@import 'base/accordion';
@import 'base/button';
@import 'base/font';
@import 'components/footer';
@import 'components/navbar';
@import 'components/product';
@import 'pages/articles';
@import 'pages/article-detail';
@import 'pages/auth';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/contact-us';
@import 'pages/index';
@import 'pages/product-detail';

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: $background;
    font-family: 'Apercu', sans-serif;
}
