@import "~bootstrap/scss/bootstrap";
@import 'base/variable';
@import 'base/button';
@import 'base/font';
@import 'pages/articles';
@import 'pages/article-detail';
@import 'pages/auth';
@import 'pages/cart';
@import 'pages/index';
@import 'components/footer';
@import 'components/navbar';

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: $background;
    font-family: 'Apercu', sans-serif;
}

.slick-prev {
    left: 10px ;
    z-index: 10;
}

.slick-next {
    right: 10px ;
    z-index: 10;
}

.slick-dots {
    bottom: 5px ;

    li {
        width: 30px ;
        height: 8px ;

        button {
            width: 30px ;
            height: 8px ;

            &:before {
                content: ' ';
                width: 30px ;
                height: 8px ;
                border-radius: 30px;
                background: $primary;
            }
        }
    }
}
