.ratio {

    &.ratio2x3 {
        padding-top: 66%;
    }

    &.ratio3x4 {
        padding-top: 75%;
    }

    &.ratio2x1 {
        padding-top: 50%;
    }

    &.ratio2halfx1 {
        padding-top: 40%;
    }

    &.ratio1x3 {
        padding-top: 33%;
    }

    &.ratio1x4 {
        padding-top: 25%;
    }

    img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}