.custom-class-shepherd {
    &.shepherd-element {
        border-radius: 1rem;
        max-width: 350px;
        padding: 1rem;

        @include breakpoint(large) {
            max-width: 500px;
        }

        .shepherd-content {
            .shepherd-header {
                padding-top: 0;
            }
            .shepherd-footer {
                padding-bottom: 0;
            }

            .shepherd-button {
                background-color: $primary;

                &.shepherd-button-secondary {
                    background-color: lightgrey;
                }

                &:hover {
                    background-color: lighten($primary, 20%);

                    &.shepherd-button-secondary {
                        background-color: lighten(lightgrey, 20%);
                    }
                }
            }
        }
    }
}
