.footer {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;

    .to-top {
        color: white;
        background-color: $primary;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    .footer-info {
        .link {
            div {
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $grey;
                }
            }
        }

        .social {
            i {
                color: $grey;
                margin-left: 0.75rem;
                font-size: 1.5rem;
            }
        }
    }

    .footer-subs {
        .text-subs {
            font-weight: 600;
        }
    }

    .footer-logo {
        text-align: center;
        
        img {
            width: 20vh;
        }

        @include breakpoint(large){
            text-align: left;

            img {
                width: 25vh;
            }
        }
    }

    .footer-copyright {
        p {
            color: $grey;
        }
    }
}
