.product-image {
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        -o-object-fit: cover;
    }
}

.product-title {
    h3 {
        font-family: "Rubik Mono One";
        font-size: 1.25rem !important;
        color: $body;

    }
}

.product-price {
    color: $body;
    font-family: "Apercu mono";
}