.product-image {
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        -o-object-fit: cover;
    }
}

.product-title {
    h3 {
        font-family: "Skylar Sans";
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: $primary;

    }
}

.product-price {
    color: $primary;
    font-family: "Apercu mono";
}
